<body>
  <div class="center-xs">
    <h1>¿Que es Ceiba Solar?</h1>
    <br>
    <div align="justify">
      <h4>
        La estación solar, con capacidad instalada de 1500 vatios, permite cargar dispositivos, vehículos eléctricos y alimenta la iluminación de sus alrededores. Este concepto no solo se impone como ícono de la Escuela de Ingeniería, sino que materializa la importancia de implementar y educar en el uso de energía fotovoltaica.
      </h4>
      <h4>
        En EAFIT se levanta una ceiba que se mueve buscando la luz del sol. En la mañana mira hacia el este, en la tarde al oeste y al mediodía está completamente horizontal. Su apariencia no es la de un árbol convencional, pero sus atributos justifican su nombre: no solo cobija a los transeúntes con sombra, sino que imita el proceso de la fotosíntesis: convierte la energía solar en energía útil.
      </h4>
      <h4>
        Se ubica justo en frente del Edificio de Ingenierías y hace juego con la imagen verde y las características sostenibles que configuran este bloque de la Universidad. Se trata de la ceiba o estación solar, estructura que se pensó dentro de un proyecto que se denomina Helios, que se llevó a cabo entre 2013 y 2014, y que contó con el apoyo de Ruta N. La iniciativa se efectuó con el objetivo de desarrollar productos que permitieran aprovechar el sol como fuente de energía alternativa y renovable.
      </h4>
      <h4>
        Según Alejandro Velásquez López, docente del pregrado en Ingeniería de Diseño de Producto y responsable de la estación, uno de los frentes que abordó Helios se enfocó en las fachadas, al ser estas la fuente de inspiración para el diseño de un concepto innovador, con un valor arquitectónico que le permitiera adaptarse a espacios públicos y, sobre todo, que conservara los atributos de la energía solar.
      </h4>
      <h4>
        Si quieres seguir leyendo haz clic <a href="http://www.eafit.edu.co/medios/eleafitense/109/Paginas/a-la-ceiba-solar-de-eafit.aspx">aquí</a>

      </h4>
    </h4>
    <div class="center-xs">
      <%=image_tag "ceiba-solar.jpg"%>
    </div>
  </body>
