<body>
<div class="center-xs">
  <h1>¿Que es cieba solar?</h1>
  <br>
  <h4>
    Ceiba solar es una proyecto donde su principal objetivo es monitorear, y suministrar información
    a la comunidad eafitence.

  </h4>
</div>
</body>
