<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
</head>
<div class="contenedor">
  <div class="div1">
    <h2 style="color: #033958">Datos acumulados en total</h2>
    <div class="contenedor">
      <h3 style="float: left;">Total Kwh: <%=@datac%></h3>
      <h3 style="color: #86898A; float:right;">0 Kwh</h3>
    </div>
    <div class="contenedor">
      <h3 style="float: left;">Total dinero Ahorrado: </h3>
      <h3 style="color: #86898A; float:right;">$0</h3>
    </div>
    <div class="contenedor">
      <h3 style="float:left;">Total co2:</h3> <h3 style="color: #86898A; float:right;">0 PPM</h3>
    </div>
  </div>
  <div class="div2">
    <h2 style="color: #033958">Datos acumulados semana</h2>
    <div class="contenedor">
      <h3 style="float: left;">Total Kwh:</h3>
      <h3 style="color: #86898A; float:right;">0 Kwh</h3>
    </div>
    <div class="contenedor">
      <h3 style="float: left;">Total dinero Ahorrado: </h3>
      <h3 style="color: #86898A; float:right;">$0</h3>
    </div>
    <div class="contenedor">
      <h3 style="float:left;">Total co2:</h3> <h3 style="color: #86898A; float:right;">0 PPM</h3>
    </div>
  </div>
</div>
<br>
<br>
<div class="contendor">
  <div class="div3">
    <h2 style="color: #033958">Datos acumulados mensual</h2>
    <div class="contenedor">
      <h3 style="float: left;">Total Kwh:</h3>
      <h3 style="color: #86898A; float:right;">0 Kwh</h3>
    </div>
    <div class="contenedor">
      <h3 style="float: left;">Total dinero Ahorrado: </h3>
      <h3 style="color: #86898A; float:right;">$0</h3>
    </div>
    <div class="contenedor">
      <h3 style="float:left;">Total co2:</h3> <h3 style="color: #86898A; float:right;">0 PPM</h3>
    </div>
  </div>
  <div class="div4">
    <h2 style="color: #033958">Datos acumulados anual</h2>
    <div class="contenedor">
      <h3 style="float: left;">Total Kwh:</h3>
      <h3 style="color: #86898A; float:right;">0 Kwh</h3>
    </div>
    <div class="contenedor">
      <h3 style="float: left;">Total dinero Ahorrado: </h3>
      <h3 style="color: #86898A; float:right;">$0</h3>
    </div>
    <div class="contenedor">
      <h3 style="float:left;">Total co2:</h3> <h3 style="color: #86898A; float:right;">0 PPM</h3>
    </div>
  </div>
</div>
