<body>
  <% if user_signed_in? %>
    <h1 class="center-xs">Bienvenido <%=current_user.email%></h1>
  <% else %>
    <h1 class="center-xs">Bienvenido</h1>
    <p class="center-xs"><%=image_tag "solar.png"%></p>
  <% end %>
</body>
