<body>
  <% if user_signed_in? %>
    <h1 class="center-xs">Bienvenido <%=current_user.email%></h1>
  <% else %>
    <h1 class="center-xs">Bienvenido</h1>
    <div align="center">
      <h4>
        De los rayos del Sol al dispositivo eléctrico
      </h4>
    <p class="center-xs"><%=image_tag "ceiba-solar.jpg"%></p>
  <% end %>
</body>
