<script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);


      //function httpGet(theUrl){
        //var xmlHttp = new XMLHttpRequest();
        //xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        //xmlHttp.send( null );
        //return xmlHttp.responseText;
      //}
    function drawChart() {
      //var datos = httpGet("http://localhost:3000/graph/tabla");
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'horas');
      data.addColumn('number', 'Energia de entrada');
      //data.addColumn('number', 'Energy output');
      //data.addColumn('number', 'Batery');


      data.addRows([
        [1,  37.8],
        [2,  30.9],
        [3,  25.4],
        [4,  11.7],
        [5,  11.9],
        [6,   8.8],
        [7,   7.6],
        [8,  12.3],
        [9,  16.9],
        [10, 12.8],
        [11,  5.3],
        [12,  6.6],
        [13,  4.8],
        [14,  4.2]
      ]);

      var options = {
        chart: {
          title: 'data information ceiba',
          subtitle: 'in kw'
        },
        height: 500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
    
  </script>
  </head>
<p><%=link_to "datos",graph_show_path%></p>
<div class="center-xs">
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
  <div class="center-xs" id="chart_div"></div>
  <div class="center-xs" id="line_top_x"></div>
  <% else %>
  <div class="center-xs" id="line_top_x"></div>
  <% end %>
<% end %>
</div>
